<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>com.revature.servlets.FrontController</servlet-class>
    <init-param>
      <param-name>DefaultRole</param-name>
      <param-value>User</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeReimbursementServlet</display-name>
    <servlet-name>EmployeeReimbursementServlet</servlet-name>
    <servlet-class>com.revature.servlets.EmployeeReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeReimbursementServlet</servlet-name>
    <url-pattern>/employee/reimbursementRequest/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeePastTicketsServlet</display-name>
    <servlet-name>EmployeePastTicketsServlet</servlet-name>
    <servlet-class>com.revature.servlets.EmployeePastTicketsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeePastTicketsServlet</servlet-name>
    <url-pattern>/employee/viewPastTickets/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerViewAllTicketsServlet</display-name>
    <servlet-name>ManagerViewAllTicketsServlet</servlet-name>
    <servlet-class>com.revature.servlets.ManagerViewAllTicketsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerViewAllTicketsServlet</servlet-name>
    <url-pattern>/manager/viewAllReimbursementRequest/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerUpdateReimbursementServlet</display-name>
    <servlet-name>ManagerUpdateReimbursementServlet</servlet-name>
    <servlet-class>com.revature.servlets.ManagerUpdateReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerUpdateReimbursementServlet</servlet-name>
    <url-pattern>/manager/updateReimbursementRequestStatus/*</url-pattern>
  </servlet-mapping>
</web-app>